.container {
  margin-top: 10px;
  height: 100px;
  width: 100px;

  background: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #111;
  border: 1px red solid;
}

.container-disable {
  display: none;
}